<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Portfolio </title>
    <link rel="icon" href="https://i.ibb.co/zRsTj3p/Frame-1-37.png">


    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" class="stylesheet">
 
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sowndharnewbie/Portfolio-Website/styles.css"> -->
</head> 

<body>

    <!-------------------------- Header Area -------------------------->
    <header class="header-area">
        <div class="container">
            <div class="header">
               
                <a href="" class="logo">
                    <!-- <img src="files/signaturecropped.png" alt="" class="signature"> -->
                    <i class="fa fa-bolt" ></i>
                </a>
                   
                <ul class="navbar">
                    <li><a href="#home">Home</a></li>
                    <!-- <li><a href="#about">About</a></li> -->
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                
                <div class="menu_icon">
                    <i class="fa fa-bars"></i>
                </div>

            </div>
        </div> 
    </header>
 
    <!-------------------------- Home Page -------------------------->
    <div class="FirstElement" id="home">
        <div class="profile-photo">
            <img src={{basics.photo.url}} alt="profile picture">
        </div>
        <div class="profile-text">
            <h5>Hi I'm </h5><br>
            <h1>{{basics.name}}</h1><br>
            <p>{{basics.summary}}</p>
            
            <!-- <div class="btn-group">
                <a href="files/Sowndharpdf" class="btn   active">Download CV</a>
                <a href="mailto:{{basics.email}}" class="btn">Contact</a>
            </div> -->

            <!-- <div class="social">
                <a href="mailto:{{basics.email}}"><i class="fa fa-envelope"></i></a>
                <a href={{basics.profiles[1].url}}><i class="fa-brands fa-github"></i></a>
                <a href={{basics.profiles[2].url}}><i class="fa fa-code"></i></a>
                <a href={{basics.profiles[0].url}}><i class="fa-brands fa-linkedin"></i></a>
            </div> -->
        </div>
    </div>

     

        <!-------------- Education & Internship -------------->
    <section class="education-content">
        <div class="container">
            <div class="row">
                <div class="education " id="education">
                    <h3 class="title">Education</h3>
                    <div class="row">
                        <div class="timeline-box">
                            <div class="timeline">

                                {{#sections.education.items}}
                               <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-title">
                                        {{degree}}- {{score}}%
                                    </h3>
                                    <h4 class="timeline-title">{{institution}}</h4>
                                    <h4 class="timeline-title">
                                        <i class="fa fa-calendar"></i> {{date}}
                                    </h4>
                                </div> 
                              {{/sections.education.items}}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="internship" id="work">
                    <h3 class="title">Experience</h3>
                    <div class="row">
                        <div class="timeline-box">
                            <div class="timeline">

                                {{#sections.work.items}}
                                <div class="timeline-item experience">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-title">
                                       {{name}}
                                    </h3>
                                    <h4 class="timeline-title">{{position}}</h4> 
                                    <h4 class="timeline-title">
                                        <i class="fa fa-calendar"></i> {{date}}
                                    </h4>
                                    {{&summary}}
                                </div>
                              {{/sections.work.items}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <!-------------------------- Projects -------------------------->
    <section class="project-content" id="projects">
        <div class="container">
            <div class="project-title">
                <h4>My Projects</h4>
                <p>Discover my projects, where creativity meets innovation</p>
            </div>
            <div class="projects">
               {{#sections.projects.items}}
                <div class="project">
                    <i class="fa fa-desktop"></i>
                    <h4>{{name}}</h4>
                    <!-- <a href="{{url}}">{{url}}</a> -->
                    <!-- <p>{{description}}</p> -->

                    {{&summary}}
                </div>
               {{/sections.projects.items}}
             
                
            </div>
        </div>
    </section>

        <!-------------------------- Contact Me -------------------------->

    <section class="contact-content" id="contact">
        <div class="container">
            <div class="contact-title">
                <h4>Contact Me</h4>
                <p>Get In Touch</p>
            </div>
            <div class="contact">
                <form name="submitToGoogleSheet">
                    <input type="text" name="NAME" placeholder="Name" required>
                    <input type="email" name="EMAIL" placeholder="Email" required>
                    <input type="text" name="SUBJECT" placeholder="Subject">
                    <textarea name="MESSAGE" placeholder="Message"></textarea>
                    <input type="submit" value="Send Message" class="submit">
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </section>
        
    <!-------------------------- JS -------------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/gh/sowndharnewbie/Portfolio-Website/script.js"></script>
    
    <!-------------------------- Footer section -------------------------->
   <footer class="footer">
    <small class="message">Thanks for visiting and happy coding!</small>
    <small class="copyright">&copy; Copyright 2023. All rights reserved.</small>
   </footer>
   <script src="
   https://cdn.jsdelivr.net/npm/remark@15.0.1/index.min.js
   "></script>
</body>
</html>